    <div class="ui page grid" ng-repeat="item in items">
        <div class="two wide column cover-thumbnail">
            <img src="{{ item.logo_thumbnail }}" class="poster">
        </div>
        <div class="twelve wide column">
                Latest popular shows:
                <ul>
                   <li ng-repeat="show in item.popular_tvseries">
                       <a href="#/e/{{ show.id }}">{{ show.title }}</a>
                   </li>
                </ul>
                <a href="#/c/{{ item.id }}/tvseries">All shows</a>
        </div>
        <div class="ui divider items-divider"></div>
    </div>