    <div class="ui page grid">
        <h4 class="ui header"><a href="#/e/{{ item.id }}">{{ item.title }}</a></h4>
        <div class="two wide column cover-thumbnail">
            <img src="{{ item.cover_thumbnail }}" class="poster">
            <div class="ui teal basic button subscribe-button">
                <i class="add icon narrow-button"></i> subscribe
            </div>
        </div>
        <div class="twelve wide column">
            {{ item.description }}<br><br>

                <div class="tab">
                      <div class="ui secondary menu">
                            <a class="item active" tabswitcher data-tab="actors">Actors</a>
                            <a class="item" tabswitcher data-tab="episodes">Episodes</a>
                      </div>
                      <div class="ui tab active" data-tab="actors">
                            <table border="0">
                                <tr>
                                    <td>
                                        <b>Actor</b>
                                    </td>
                                    <td>
                                        <b>Role</b>
                                    </td>
                                </tr>
                                <tr ng-repeat="role in item.roles">
                                    <td class="actor-row">
                                        {{ role.actor }}
                                    </td>
                                    <td>
                                        {{ role.role }}
                                    </td>
                                </tr>
                            </table>
                      </div>
                      <div class="ui tab" data-tab="episodes">
                          <ul>
                              <li ng-repeat="item in item.episodes">
                                  {{ item.title }} (e{{ item.episode_number }}, s{{ item.season_number }})
                              </li>
                          </ul>
                      </div>
                </div>
            </div>
        </div>