    <div class="ui page grid">
        <img src="{{ item.logo_thumbnail }}" class="tvchannel-logo">
    </div><br><br>
    <div class="ui page grid" ng-repeat="tvseries in item.tvseries">
        <h4 class="ui header"><a href="#/e/{{ tvseries.id }}">{{ tvseries.title }}</a></h4>
        <div class="two wide column cover-thumbnail">
            <img src="{{ tvseries.cover_thumbnail }}" class="poster">
        </div>
        <div class="twelve wide column">
            {{ tvseries.short_description }}<br><br>
            <b>Genres:</b> {{ tvseries.genres.join(', ') }}<br>
            <b>Credits:</b> {{ tvseries.short_credits.join(', ') }}
        </div>
        <div class="ui divider items-divider"></div>
    </div>
