    <div class="ui page grid" ng-hide="!message">
         <div class="forteen wide column">
                <div class="ui small message">
                 <i class="close icon" ng-click="hide_message();"></i>
                    {{ message }}
                </div>
        </div>
    </div>
    <div class="ui page grid" ng-repeat="item in items">
        <h4 class="ui header"><a href="#/e/{{ item.id }}">{{ item.title }}</a></h4>
        <div class="two wide column cover-thumbnail">
            <img src="{{ item.cover_thumbnail }}" class="poster">
            <div class="ui teal basic button subscribe-button" ng-click="subscribe(item.id)" ng-show="user_id && !item.is_subscribed">
                <i class="add icon narrow-button"></i> subscribe
            </div>
            <div class="ui subscribe-button" ng-show="user_id && item.is_subscribed">{{ }}
                <i class="checkmark icon narrow-button"></i> subscribed
            </div>
        </div>
        <div class="twelve wide column">
            {{ item.short_description }}<br><br>
            <b>Genres:</b> {{ item.genres.join(', ') }}<br>
            <b>Credits:</b> {{ item.short_credits.join(', ') }}
        </div>
        <div class="ui divider items-divider"></div>
    </div>
    <div class="ui page grid">
        <div class="ui buttons">
            <div class="ui button" ng-repeat="page in pagination_items" ng-class="{'active': page == current_page}" ng-click="next_page(page);">
                {{ page }}
            </div>
        </div>
    </div>