<div>

                <div class="posts">
                    <h1 class="content-subhead">{{ item.genres.join(', ') }}</h1>
                    <img src="{{ item.cover_thumbnail }}" class="poster">
                    <section class="post">
                        <header class="post-header">
                            <h4 class="post-title"><a href="#/e/{{ item.id }}">{{ item.title }}</a></h4>
                            by {{ item.tvchannel }}
                        </header>
                        <div class="post-description">
                            <p>
                                {{ item.description }}
                            </p>
                            <a href="#/e/{{ item.id }}/e">All episodes</a><br>
                            <b>Credits</b><br>
                            <span ng-repeat="role in item.roles">
                                {{ role.actor }} &mdash; {{ role.role }}<br>
                            </span>
                        </div>
                    </section>
                </div>
        </div>