    <div class="ui page grid" ng-repeat="item in items">
        <h4 class="ui header">
            <a href="#/e/{{ item.tvseries.id }}">{{ item.tvseries.title }}</a>
            &mdash;
            {{ item.title }} (e{{ item.episode_number }}, s{{ item.season_number }})
        </h4>
        <div class="two wide column cover-thumbnail">
            <img src="{{ item.tvseries.cover_thumbnail }}" class="poster">
        </div>
        <div class="twelve wide column">
            Episode will be shown {{ item.showed_at }} on {{ item.tvseries.tvchannel }}
        </div>
        <div class="ui divider items-divider"></div>
    </div>

    <div class="ui page grid">
        <div class="ui buttons">
            <div class="ui button" ng-repeat="page in pagination_items" ng-class="{'active': page == current_page}" ng-click="next_page(page);">
                {{ page }}
            </div>
        </div>
    </div>